.myClass {
    width: 45px;
    height: 45px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.output {
    display: flex;
    flex-wrap: wrap;
}

